.container {
    width: 20%;
    display: flex;
    align-items: center;
    margin-left: 19%;
}

.icon{
    margin: auto;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .icon a span svg {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (max-width: 700px) {
    .icon a span svg {
        height: 25px;
        width: 25px;
    }
}

@media only screen and (max-height: 700px) {
    .icon a span svg {
        height: 30px;
        width: 30px;
    }
}

@media only screen and (max-width: 600px) {
    .icon a span svg {
        height: 20px;
        width: 20px;
    }
}

@media only screen and (max-width: 400px) {
    .icon a span svg {
        height: 15px;
        width: 15px;
    }
}